/* Estilo principal del tablero de Truco */
#trucoBoard {
  padding: 20px;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center;     /* Centrar verticalmente */
  position: relative;
}

/* Estilo para los equipos (Nosotros y Ellos) */
.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2%;            /* Margen entre los equipos y la línea central */
  position: relative;
}

/* Estilo para la sección de puntos */
.points {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 930px;           /* Altura fija para evitar que la estructura se mueva */
  justify-content: flex-start;
}

/* Estilo base para las cajas de puntos */
.box {
  width: 30px;
  height: 30px;
  position: relative;
  margin: 5px 0;
  border: 2px solid transparent; /* Borde transparente para mantener el tamaño constante */
}

/* Estilo para la línea diagonal de la caja */
.diagonal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, transparent 45%, black 45%, black 55%, transparent 55%);
  
}

/* Estilos comunes para los palos de la caja */
.left-stick, .top-stick, .right-stick, .bottom-stick {
  position: absolute;
  background-color: black;
}

/* Estilo para el palo izquierdo de la caja */
.left-stick {
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px;
}

/* Estilo para el palo superior de la caja */
.top-stick {
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
}

/* Estilo para el palo derecho de la caja */
.right-stick {
  right: 0;
  top: 0;
  bottom: 0;
  width: 2px;
}

/* Estilo para el palo inferior de la caja */
.bottom-stick {
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
}

/* Estilo para la caja cuando está completa */
.box.complete {
  border-color: black;
}

/* Estilo para la línea divisoria central */
.dividerT {
  padding-top: 0;
  margin-top: 0;
  height: 80vh;
  width: 2px;
  background-color: black;
  position: absolute;
  left: 50%;
  top: 5%;
  
}

/* Estilo para la línea divisoria a los 15 puntos */
.divider15 {
  height: 2px;
  width: 100%;
  color: black;
  margin-top: 10px;
}

/* Estilo para el texto del ganador */
.winner {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

/* Estilos comunes para los botones de suma y resta */
.btn-nosotros-plus, .btn-nosotros-minus, .btn-ellos-plus, .btn-ellos-minus {
  position: absolute;
  background-color: #d3d3d3d3;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 100%;
}

/* Estilo para el efecto hover de los botones */
.btn-nosotros-plus:hover, .btn-nosotros-minus:hover, .btn-ellos-plus:hover, .btn-ellos-minus:hover {
  background-color: #ddd;
}

/* Estilo y posición para el botón de suma de "Nosotros" */
.btn-nosotros-plus {
  left: 15%;               /* Ajustar la posición para acercar a los puntos */
  top: 25%;
  transform: translateY(-150%);

}

/* Estilo y posición para el botón de resta de "Nosotros" */
.btn-nosotros-minus {
  left: 15%;               /* Ajustar la posición para acercar a los puntos */
  top: 25%;
  transform: translateY(-50%);
  margin-top: 10px;
}

/* Estilo y posición para el botón de suma de "Ellos" */
.btn-ellos-plus {
  right: 15%;              /* Ajustar la posición para acercar a los puntos */
  top: 25%;
  transform: translateY(-150%);
}

/* Estilo y posición para el botón de resta de "Ellos" */
.btn-ellos-minus {
  right: 15%;              /* Ajustar la posición para acercar a los puntos */
  top: 25%;
  transform: translateY(-50%);
  margin-top: 10px;
}